.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button {
  padding: 5px 15px;
  margin: 20px 3px;
  background-color: darkmagenta;
  color:chartreuse;
  border: 1px solid #101010;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}
